.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 200px;
    width: 310px;
}
.price {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}
.name {
    text-align: center;
}